<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4Az-R2yM71sc1l6UTE_nxCF8IcIBiMo8</string>
	<key>GCM_SENDER_ID</key>
	<string>85580415731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SankrityaT.FairShare</string>
	<key>PROJECT_ID</key>
	<string>fairshare-f1ff4</string>
	<key>STORAGE_BUCKET</key>
	<string>fairshare-f1ff4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85580415731:ios:d285b799b24dbc79a0ad86</string>
</dict>
</plist>